body,
html {
    padding: 0;
    margin: 0;
    min-height: 100dvh
}

:root {
    --safe-area-inset-top: env(safe-area-inset-top, 0px);
    --safe-area-inset-right: env(safe-area-inset-right, 0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-inset-left: env(safe-area-inset-left, 0px)
}

a {
    color: inherit;
    text-decoration: none
}

* {
    box-sizing: border-box
}

.grecaptcha-badge {
    visibility: hidden
}

img[src^="https://pix.pub/t.png"] {
    position: fixed
}

.frac-line {
    border-color: initial
}

@font-face {
    font-family: CoFo Brilliant;
    font-display: swap;
    src: url(/_next/static/media/cofo-brilliant-regular.41e28076.woff2) format("woff2")
}

@font-face {
    font-family: CoFo Brilliant;
    font-weight: 700;
    src: url(/_next/static/media/cofo-brilliant-bold.53112b13.woff2) format("woff2")
}

@font-face {
    font-family: CoFo Brilliant;
    font-style: italic;
    src: url(/_next/static/media/cofo-brilliant-italic.189b7104.woff2) format("woff2")
}

@font-face {
    font-family: CoFo Brilliant;
    font-weight: 700;
    font-style: italic;
    src: url(/_next/static/media/cofo-brilliant-bold-italic.5cb2bc2e.woff2) format("woff2")
}

@font-face {
    font-family: CoFo Brilliant;
    font-weight: 500;
    src: url(/_next/static/media/cofo-brilliant-medium.9c65703b.woff2) format("woff2")
}

@font-face {
    font-family: CoFo Brilliant;
    font-weight: 500;
    font-style: italic;
    src: url(/_next/static/media/cofo-brilliant-medium-italic.8e674f1a.woff2) format("woff2")
}

@font-face {
    font-family: CoFo Robert;
    font-weight: 500;
    src: url(/_next/static/media/cofo-robert-medium.7fa4d975.woff2) format("woff2")
}

@font-face {
    font-family: CoFo Robert;
    font-weight: 500;
    font-style: italic;
    src: url(/_next/static/media/cofo-robert-medium-italic.5bf60685.woff2) format("woff2")
}

@font-face {
    font-family: Source Code Pro;
    src: url(/_next/static/media/source-code-pro-regular.98d258dc.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Source Code Pro;
    src: url(/_next/static/media/source-code-pro-medium.99c629dd.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Source Code Pro;
    src: url(/_next/static/media/source-code-pro-bold.4de59ff4.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Source Code Pro;
    src: url(/_next/static/media/source-code-pro-italic.4d653bdc.woff2) format("woff2");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Source Code Pro;
    src: url(/_next/static/media/source-code-pro-mediumitalic.b5d25b1b.woff2) format("woff2");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Source Code Pro;
    src: url(/_next/static/media/source-code-pro-bolditalic.4559ec16.woff2) format("woff2");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Soleil;
    src: url(/_next/static/media/soleil-regular-webfont.2153a62c.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Soleil;
    src: url(/_next/static/media/soleil-bold-webfont.855e2f9d.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Soleil;
    src: url(/_next/static/media/soleil-semibold-webfont.b99104ca.woff2) format("woff2");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Soleil;
    src: url(/_next/static/media/soleil-italic-webfont.3762bed4.woff2) format("woff2");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: CoFo Semi Mono;
    src: url(/_next/static/media/cofo-semi-mono-regular.47d3b2e6.woff2) format("woff2")
}

@font-face {
    font-family: CoFo Semi Mono;
    src: url(/_next/static/media/cofo-semi-mono-medium.3a5255ae.woff2) format("woff2");
    font-weight: 500
}

@font-face {
    font-family: CoFo Semi Mono;
    src: url(/_next/static/media/cofo-semi-mono-bold.130069b6.woff2) format("woff2");
    font-weight: 700
}

@font-face {
    font-family: coFoBrilliantFont;
    src: url(/_next/static/media/41e280766329a0cc-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: coFoBrilliantFont;
    src: url(/_next/static/media/53112b13ab129fdd-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 700
}

@font-face {
    font-family: coFoBrilliantFont;
    src: url(/_next/static/media/189b71049a3838fb-s.p.woff2) format("woff2");
    font-display: swap;
    font-style: italic
}

@font-face {
    font-family: coFoBrilliantFont;
    src: url(/_next/static/media/5cb2bc2ee4299d9c-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: coFoBrilliantFont;
    src: url(/_next/static/media/9c65703b9855ebf3-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 500
}

@font-face {
    font-family: coFoBrilliantFont;
    src: url(/_next/static/media/8e674f1a01a45790-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: coFoBrilliantFont Fallback;
    src: local("Arial");
    ascent-override: 94.99%;
    descent-override: 29.45%;
    line-gap-override: 14.25%;
    size-adjust: 105.27%
}

.__className_744ae2 {
    font-family: coFoBrilliantFont, coFoBrilliantFont Fallback, Arial, sans-serif
}